@font-face {
    font-family: font;
    src: url('./UbuntuMono-R.ttf') format('truetype');
    font-display: swap
}

html {
    background: #252526;
    font-family: font;
    color: #fff;
}

button {
    margin: 5px 0 5px 0;
    font-family: font;
    font-size: 16pt;
}

input {
    font-family: font;
    font-size: 16pt;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

label:hover {
    color: rgb(145, 145, 145);
}